version: '2.0.{build}'
assembly_info:
  patch: true
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}-rc1'
artifacts:
  - path: appveyor-messaround\bin
    name: MyApp
